.header-area .header-top_area{
	padding: 19px 0 10.5px 0;
}
#navigation a{
	text-decoration: none;
}
/* 카테고리 */
.right{
float: right;
}
.single {
width: 80%;	
padding: 30px 15px;
/* margin-top: 40px; */
background: #fcfcfc;
border: 1px solid #f0f0f0; }
.single h3.side-title {
margin: 0;
margin-bottom: 10px;
padding: 0;
font-size: 20px;
color: #333;
text-transform: uppercase; }
.single h3.side-title:after {
content: '';
width: 60px;
height: 1px;
background: #ff173c;
display: block;
margin-top: 6px; }

.single ul {
margin-bottom: 0; }
.single li a {
color: #666;
font-size: 14px;
text-transform: uppercase;
border-bottom: 1px solid #f0f0f0;
line-height: 40px;
display: block;
text-decoration: none; }
.single li a:hover {
color: #ff173c; }
.single li:last-child a {
border-bottom: 0; }

/* 검색창  */
.nav1{
display: table;
width: 100%;
}

/* 리스트 */
a.list-group-item {
    height:auto;
    min-height:120px;
    width: 100%;
}
a.list-group-item.active small {
    color:#fff;
}

.well {
	width: 72%;
}
	
.well.well2 {
	background-color: #fff;
}

.writebutton{
	text-align: right;
}


/* 버튼 */
.blue {
	width : 75%;
	font-size: 15px; 
	float: right;
}

.writebutton { 
	margin-right: 4%;
}

.round {
	width: 600px;
	height: 180px;
}



}