/* 카테고리 */
.right {
	float: right;
}

.single {
	width: 80%;
	padding: 30px 15px;
	/* margin-top: 40px; */
	background: #fcfcfc;
	border: 1px solid #f0f0f0;
}

.single h3.side-title {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-size: 20px;
	color: #333;
	text-transform: uppercase;
}

.single h3.side-title:after {
	content: '';
	width: 60px;
	height: 1px;
	background: #ff173c;
	display: block;
	margin-top: 6px;
}

.single ul {
	margin-bottom: 0;
}

.single li a {
	color: #666;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 1px solid #f0f0f0;
	line-height: 40px;
	display: block;
	text-decoration: none;
}

.single li a:hover {
	color: #ff173c;
}

.single li:last-child a {
	border-bottom: 0;
}

/* 폼 크기 조절 */
.form-area {
	width: 150%;
}

/* 사진 크기 조절 */
.product-img {
	width: 50%;
	height: 50%;
}

/* 상품창 */
.form-control[readonly] {
	background-color: #fff;
}

/* 글번호 3개 정렬 */
.cont2 {
	width: 176px;
	display: inline-block;
}

/* 이미지 크기+중앙 */
.img1 img{
	width: 60%; 
	height: 60%;
	display : inherit;
	margin: 0px auto;
}

/* 댓글창 */
.re1 {
	width: 103%;
}

.button1{
	margin-left: 23%;
}

.btn1{
	margin-top: 10%;
	margin-left: 89%;
}

/* 전체크기 조절 */
.box{
	width : 74%;
}


}