<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.BoardMapper">
	<cache />


	<select id="getArticleCount" parameterType="String"
		resultType="int">
		select nvl(count(*),0) from board where category =
		#{category}
	</select>

	<select id="getArticles" parameterType="hashmap"
		resultType="Board">
		select * from board where category = #{category}
		order by boardnum desc
	</select>
	
	 <select id="getlistArticles" resultType="Board">
		 select * from board where to_char(regdate, 'yyyymmdd') = to_char(sysdate, 'yyyymmdd') 
	</select> 
	
	<!-- 글번호 올려주는거? -->
	 <select id="insert_boardnum" resultType="int">
		select max(boardnum)+1 from board
	</select> 

	<insert id="insert" parameterType="Board">
		insert into board values
		(#{boardnum},#{userid},#{filename},#{readcount},to_char(sysdate, 'yyyy-mm-dd'),#{subject},#{content},#{address},#{price},#{category},0,#{passwd},0)
	</insert>

	<update id="content_update" parameterType="int">
		update board set
		readcount=readcount + 1 where boardnum = #{boardnum}
	</update>

	<select id="getArticle" parameterType="int" resultType="Board">
		select *
		from board where boardnum =#{boardnum}
	</select>

	<select id="getPasswd" parameterType="int" resultType="string">
		select
		passwd from board where boardnum = #{boardnum}
	</select>

	<update id="update" parameterType="Board">
		update board set
		userid=#{userid},filename=#{filename},subject=#{subject}
		,content=#{content},address=#{address},price=#{price},category=#{category},passwd=#{passwd} where
		boardnum=#{boardnum}
	</update>

	<delete id="delete" parameterType="int">
		delete from board where boardnum =
		#{boardnum}
	</delete>
	
	
	<!-- 좋아요 -->
	<update id="like_check" parameterType="HashMap">
    update likecheck
    set likecount  = likecount  + 1 
    where userid=#{userid} and boardnum=#{boardnum}
  	</update>
  
  	<update id="like_check_cancel" parameterType="HashMap">
    update likecheck
    set likecount  = 0
    where userid=#{userid} and boardnum=#{boardnum}
  	</update>
  	
  	<!-- soldout 체크 -->
	<update id="soldoutCheck1" parameterType="int">
	update board set soldout = 0 where boardnum = #{boardnum}
	</update>
	
	<!-- soldout 체크 -->
	<update id="soldoutCheck2" parameterType="int">
	update board set soldout = 1 where boardnum = #{boardnum}
	</update>

	<!-- 거래내역 조회 -->
	<select id="sellList" parameterType="String" resultType="Board">
		SELECT *
		FROM board
		WHERE userid = #{userid}
	</select>
	
	<select id="buyList" parameterType="String" resultType="Board">
		SELECT d.userid,b.subject,b.content,b.address,b.price,b.category, b.boardnum
		FROM board b, buy d
		WHERE d.userid = #{userid} and b.boardnum = d.boardnum
	</select>

	<select id="likeList" parameterType="String" resultType="Board">
		SELECT b.boardnum, b.subject, b.price, b.filename
		FROM board b, likecheck l
		WHERE b.boardnum = l.boardnum and l.userid = #{userid}
	</select>
</mapper>