<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.ReplyMapper">
	<cache />

	<!-- 댓글 조회-->
	
	<select id="readReply" resultType="Reply">
	select replynum, userid, ref, re_step, re_level, regdate, 
	comment from reply where boardnum = #{boardnum}
	</select>
</mapper>